<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <th:block th:insert="layout :: headerStuff"></th:block>
</head>
<body>
<!-- Navbar -->
<nav th:replace="layout :: navlinks"></nav>


<section class="container-fluid px-0">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div id="headingGroup" class="text-white text-center d-none d-lg-block mt-5">
                    <h1 class="">LEARN MORE</h1>
                    <h1 class="">VOLUNTEER</h1>
                    <h1 class="">REGISTER</h1>
                </div>
            </div>
            <div class="col-lg-6">
                <img class="img-fluid" src="images/Women_adobespark.png" alt="">
            </div>
        </div>
    </section>

    <section class="container-fluid px-0">
        <div class="row align-items-center content">
            <div class="col-md-6 order-2 order-md-1">
                <img src="images/Kids_adobespark.png" alt="" class="img-fluid">
            </div>
            <div class="col-md-6 text-center order-1 order-md-2">
                <div class="row justify-content-center">
                    <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                        <h2>EMPOWERING WOMEN</h2>
                        <img src="images/lolli_icon.png" alt="" class="d-none d-lg-inline">
                        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, iste molestiae
                            beatae, maiores deserunt
                            in voluptatibus
                            aspernatur architecto excepturi delectus soluta? Ipsa, deleniti dolorem hic consequatur
                            repellat eveniet quidem
                            voluptate necessitatibus dolorum delectus minus vitae, ut, veritatis sint ipsum magnam
                            autem nam ex deserunt debitis
                            eaque ratione! Nobis, quidem assumenda.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-center content">
            <div class="col-md-6 text-center">
                <div class="row justify-content-center">
                    <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                        <h2>EMPOWERING FAMILY</h2>
                        <img src="imgs/lolli_icon.png" alt="" class="d-none d-lg-inline">
                        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, iste molestiae
                            beatae, maiores deserunt
                            in voluptatibus
                            aspernatur architecto excepturi delectus soluta? Ipsa, deleniti dolorem hic consequatur
                            repellat eveniet quidem
                            voluptate necessitatibus dolorum delectus minus vitae, ut, veritatis sint ipsum magnam
                            autem nam ex deserunt debitis
                            eaque ratione! Nobis, quidem assumenda.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <img src="images/HamriCotton-sm_adobespark.png" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row align-items-center content">
            <div class="col-md-6 order-2 order-md-1">
                <img src="images/Kids3_adobespark.png" alt="" class="img-fluid">
            </div>
            <div class="col-md-6 text-center order-1 order-md-2">
                <div class="row justify-content-center">
                    <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                        <h2>SHARING RESOURCES</h2>
                        <img src="imgs/lolli_icon.png" alt="" class="d-none d-lg-inline">
                        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, iste molestiae
                            beatae, maiores
                            deserunt
                            in voluptatibus
                            aspernatur architecto excepturi delectus soluta? Ipsa, deleniti dolorem hic consequatur
                            repellat eveniet
                            quidem
                            voluptate necessitatibus dolorum delectus minus vitae, ut, veritatis sint ipsum magnam
                            autem nam ex deserunt
                            debitis
                            eaque ratione! Nobis, quidem assumenda.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    
    <section id="container">
    	
    	<div class="bottom-section">
    		<h3>ABOUT</h3>
    		<p>Mission & History</p>
    		<p>Accomplishments</p>
    		<p>Board of Directors</p>
    		<p>Staff</p>
    		<p>Resources</p>
    		<p>Contact Us</p>
    	</div>
    	
    	<div class="bottom-section">
    		<h3>PROGRAMS</h3>
    		<p>Resource Sharing</p>
    		<p>Children</p>
    		<p>Family</p>
    		<!-- 
    		<p>Parenting</p>
    		<p>Single Mom</p> -->
    		
    	</div>
    	<div class="bottom-section">
    		<h3>JOIN</h3>
    		<p>Work with Us</p>
    		<p>Volunteer</p>
    		
    	</div>
    	<div  class="bottom-section">
    		<h3>REGISTER</h3>
    		<h3>DONATE</h3>
    		<h3>CONTACT</h3>
    		
    	</div>
    </section>
    
    <section id="container-bottom">
    	
    	<div class="bottom-section2">
    		<h5>Adress</h5>
    		<p>20323 Mill Pond Ter</p>
    		<p>Germantown, MD-20876</p>
    		<p>hamrawittesfa@yahoo.com</p>
    		
    	</div>
    	
    	<div class="bottom-section2">
    		<h5>Mob.</h5>
    		<p>+1(240)688-7281</p>
    		
    	</div>
    	<div class="bottom-section2" style="width:100px">
    		
    		
    		
    	</div>
    	<div  class="bottom-section2">
    		<h3>ETHIO-AMERICA FAMILY RESOURCE</h3>
    		
    	</div>
    </section>













<!-- Footer -->
<div th:replace="layout :: footer"></div>
<div th:replace="layout :: footer-scripts"></div>
<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script>
        $(function () {
            $(document).scroll(function () {
                var $nav = $(".navbar");
                $nav.toggleClass("scrolled", $(this).scrollTop() > $nav.height());
            });
        });
    </script>
</body>
</html>